<meta charset="utf-8">
<!DOCTYPE html>
<html>
<head>

		<!-- Plugins -->
<link href="http://htmlcoder.me/preview/idea/v.1.0/plugins/rs-plugin/css/settings.css" media="screen" rel="stylesheet">

<link rel="shortcut icon" href="http://htmlcoder.me/preview/idea/v.1.0/images/favicon.ico">


		<!-- iDea core CSS file -->
<link href="http://htmlcoder.me/preview/idea/v.1.0/css/style.css" rel="stylesheet">
<link href="http://htmlcoder.me/preview/idea/v.1.0/fonts/fontello/css/fontello.css" rel="stylesheet">




</head>

<body class="font">

	<section>

	<div class="banner">
		<div class="slideshow">
			<div class="slider-banner-container">
						<div class="slider-banner">
							<ul>
								<!-- slide 1 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">
								
								<!-- main image -->
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/slider-1-slide-3.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption default_bg large sfr tp-resizeme"
									data-x="600"
									data-y="70" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">实习找工作？来这里!
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="600"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
									data-x="650"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="700">海量职位随意选择
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="600"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
									data-x="650"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600">福利&待遇高
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="600"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
									data-x="650"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"> 高薪才是硬道理！
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="600"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 9 -->
								<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
									data-x="650"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600">只有你想不到的岗位...
								</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
									data-x="600"
									data-y="370" 
									data-speed="600"
									data-start="2400"
									data-end="9400"
									data-endspeed="600">加入我们...
								</div>

								<!-- LAYER NR. 11 -->
								<div class="tp-caption sfr tp-resizeme"
									data-x="right"
									data-y="center" 
									data-speed="600"
									data-start="2700"
									data-end="9400"
									data-endspeed="600">
								</div>

								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
								
								<!-- main image -->
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/slider-1-slide-2.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption white_bg large sfr tp-resizeme"
									data-x="0"
									data-y="70" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">招贤纳士&请猛戳
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600">免费发布职位
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600">无忧培训
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600">一站式专业人力资源服务
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption default_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 9 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600">培训更专业
								</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption default_bg sfb medium tp-resizeme"
									data-x="0"
									data-y="370" 
									data-speed="600"
									data-start="2400"
									data-end="9400"
									data-endspeed="600">加入我们...
								</div>

								<!-- LAYER NR. 11 -->
								<div class="tp-caption sfr tp-resizeme"
									data-x="right"
									data-y="center" 
									data-speed="600"
									data-start="2700"
									data-end="9400"
									data-endspeed="600"><img src="http://htmlcoder.me/preview/idea/v.1.0/images/slider-1-layer-2.png" alt="">
								</div>

								</li>
								<!-- slide 2 end -->

								<!-- slide 3 start -->
								<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
								
								<!-- main image -->
								<img src="http://htmlcoder.me/preview/idea/v.1.0/images/slider-1-slide-1.jpg"  alt="kenburns"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

								<!-- LAYER NR. 1 -->
								<div class="tp-caption white_bg large sfr tp-resizeme"
									data-x="0"
									data-y="70" 
									data-speed="600"
									data-start="1200"
									data-end="9400"
									data-endspeed="600">战略合作 双赢发展
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="170" 
									data-speed="600"
									data-start="1600"
									data-end="9400"
									data-endspeed="600">为企业院校提供平台
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="220" 
									data-speed="600"
									data-start="1800"
									data-end="9400"
									data-endspeed="600">合作中求发展求双赢
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="270" 
									data-speed="600"
									data-start="2000"
									data-end="9400"
									data-endspeed="600">企业与学生相互选择
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
									data-x="0"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600"><i class="icon-check"></i>
								</div>

								<!-- LAYER NR. 9 -->
								<div class="tp-caption white_bg sfb medium tp-resizeme"
									data-x="50"
									data-y="320" 
									data-speed="600"
									data-start="2200"
									data-end="9400"
									data-endspeed="600">真诚期待您的加盟
								</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
									data-x="0"
									data-y="370" 
									data-speed="600"
									data-start="2400"
									data-end="9400"
									data-endspeed="600">加入我们...
								</div>

								<!-- LAYER NR. 11 -->
								<!--<div class="tp-caption sfr"
									data-x="right" data-hoffset="-660"
									data-y="center" 
									data-speed="600"
									data-start="2700"
									data-autoplay="false"
									data-autoplayonlyfirsttime="false"
									data-nextslideatend="true"
									data-endspeed="600">-->
									
								<div class="tp-caption sfr tp-resizeme"
									data-x="right"
									data-y="center" 
									data-speed="600"
									data-start="2700"
									data-end="9400"
									data-endspeed="600"><img src="http://htmlcoder.me/preview/idea/v.1.0/images/slider-1-layer-1.png" alt="">
								</div>
								</div>

								</li>
								<!-- slide 3 end -->

							</ul>
							<div class="tp-bannertimer tp-bottom"></div>
						</div>

					</div>

				</dev>

			</dev>
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/plugins/jquery.min.js"></script>
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/plugins/modernizr.js"></script>

		<!-- jQuery REVOLUTION Slider  -->
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="http://htmlcoder.me/preview/idea/v.1.0/js/template.js"></script>








</section>



</body>
</html>